@font-face {
  font-family: 'rabbit';
  src: url('../fonts/rabbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pragmata';
  src: url('../fonts/pragmata.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, small {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

img {
  max-width: calc(100vw - 2rem);
  box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
}

body {
  background-color: $secondary;
  color: $primary;
  font-family: 'pragmata';
  padding: 1rem;
  overflow-x: hidden;
  &.overflowHidden {
    overflow: hidden;
  }
}

a, .link {
  color: $primary;
  border: 1px dotted $primary;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  padding: 0 0.25rem;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  &:hover, &.active {
    background: $primary;
    color: $secondary;
  }
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.3em;
}



hr {
  border: 0;
  border-bottom: 3px dashed $primary;
  margin: 1rem 0;
}

ul, ol {
  margin: 0 0 1rem 2rem;
  list-style-position: outside;
}

.page {
  margin-top: 1rem;
  h1 {
    border-bottom: 3px dashed $primary;
    padding-bottom: 1rem;
  }

}

.view-animate.ng-enter,
.view-animate.ng-leave {
  position: absolute;
  transition: 0.5s;
}

.view-animate.ng-enter.ng-enter-active {
  @include fadeInUp(
    $duration: 0.5s
  );
}

.view-animate.ng-leave.ng-leave-active {
  @include fadeOutDown(
    $duration: 0.5s
  );
}