<section class="page page__experience">

    <p>My first computer was an Acorn Electron in around 1986. I can't remember a great deal about it except a chess game we
        had would take five minutes to make a move.</p>

    <p>Next was a Commodore 64. This is when I first 'coded' something. I copied a script verbatim into the basic prompt, from the Basic manual that came with the computer. <span data-track="c64" class="link" ng-click="c64()">All that resulted was something similar to this</span>. I can't say that's what got me interested in coding but I remember it being brought up as some sort of accomplishment in school. Who would have thought that all those years ago I copied code verbatim and now I make a living copying code verbatim from Stack Overflow.</p>

    <p>My next experience with 'programming' around 1991 came with <a target="_blank" data-track href="https://en.wikipedia.org/wiki/AMOS_(programming_language)">Easy AMOS</a> on my brand new Amiga 500+. I remember asking a friend to come over after school. "We'll make a new game then play it all night". We succeeded only in playing the demos of course, 'cos it turns out you need more than imagination to realise something.</p>

    <p>I did Information Systems at GCSE and got a C. I was robbed and I'll tell you why if asked.</p>

    <p>My girlfriend had a PC with Windows 95 and I hadn't previously seen anything so powerful. I remember clearly that it had a processor clocked at 66Mhz. That was a lot faster than the Amiga I was still using to do MIDI sequencing with (a 1200 by this point) which clocked in at 14Mhz. I played around with Photoshop (v3 I think) for hours, mainly randomly filtering brush strokes. These days when I'm playing with Photoshop I get a bit sentimental that I'm actually using something I used to mess around with as part of my job. I still experiment with Photoshop recreationally.</p>

    <p>I finally got my own PC when I first got a job, in 1998. I hadn't used the internet in school as there was one computer attached and I no longer did IT. The internet was fascinating; even then it still felt like something of an untouched frontier and the horrendous sluggishness made the accomplishment somehow greater. I had no idea of the language of the web or what was happening when I typed in an address that supposedly took me to the other side of the world.</p>

    <p>A Music Technology degree from 2000 - 2003 gave me my first proper swipe at a formal digital education. It was during the second year that we had the option to take a "multimedia" class. I opted for it because I would get the opportunity to use Photoshop again. Alongside Macromedia's Flash and Director (RIP) it was on this multimedia course that I had six hours of tuition on Dreamweaver. Despite just dragging and dropping into the wysiwyg view, I loved it. It seemed powerful to create a web form, even if the form did nothing when submitted. Being able to leverage the browser's (IE 6 no doubt) form styling was enough. I would obviously come to realise that styling forms is a pain in the arse.</p>

    <p>At Uni I started messing around with building computers out of cheap parts from eBay. Sometimes they worked and my Mum was made up when I presented her with a custom built computer for Christmas.</p>

    <p>Out of uni, equipped with a 1st class degree, I played in bands and worked in call centers. Talking all day to strangers who were frequently pretty annoyed gave me confidence in communicating with all kinds of folk.</p>

    <p>I've worked professionally on the web since 2005 where I got my first position as a trainee web designer at <a data-track target="_blank" href="http://www.gocre8.co.uk">GoCre8</a>. The site I'd dragged and dropped together for my band's online presence was all I had to show for a portfolio, but the Job Centre's New Deal programme gave me the edge on other candidates as they would pay half my wages for six months. A couple of months in I was asked to style up a shopping cart. <a data-track target="_blank" href="http://www.agoracart.com">AgoraCart</a> to be precise, a .cgi based ecommerce platform. It was around this time that I started to learn how to deal with the pressure of being tasked with something you have no comprehension of, and drawing confidence to know that there's nothing you can't eventually conquer with persistence and some well-placed, now perfected, Googling (Googling wasn't a verb yet).</p>
    
    <p>As this is getting on a bit I'll just whizz you through <a target="_blank" data-track href="http://www.blackandginger.com/">Black & Ginger</a>, <a target="_blank"
            data-track href="http://www.gbgplc.com/uk/products/gbg-transactis/">CDMS/Transactis</a>, <a target="_blank"
            data-track href="https://www.jdwilliams.co.uk/">JD Williams</a>, <a target="_blank" data-track href="http://cheethambelljwt.com/">CheethamBell JWT</a> and <a target="_blank"
            data-track href="http://e3creative.co.uk">E3 Creative</a> alongside a long list of short-term contracting positions at places like <a target="_blank"
            data-track href="http://www.cuckoodesign.com/">Cuckoo</a>, <a target="_blank" data-track href="https://www.gettingpersonal.co.uk/">Getting Personal</a> and <a target="_blank" href="http://www.simplybe.co.uk/">SimplyBe</a>. Contracting was the thing that amped up my confidence and ability the most. Being dropped into a situation like a commando, doing a job and getting out, requires the building of a skillset that isn't just technical.</p>

    <p>November 2012 saw me and a friend take on the business world as a co-directors of Cordial Ltd, based on Lever St in Manchester city centre. January 2014 saw that end as we realised that neither of us could sell to anyone we didn't already know. It was a really good time and just to have our own office for a while was daunting, confusing and very empowering. We nearly got an employee!</p>

    <p>I started my current position at <a target="_blank" data-track href="http://havaslynx.com/">Havas Lynx</a> in June 2014: a company filled with the nicest, most dedicated people I've had the pleasure to work with.</p>

    <p>Make no mistake (just in case you were about to), if I wasn't being paid to do this type of work, I'd be doing it anyway. That's not to say I'll do it for free.</p>

</section>