<div class="page page__home">

    <p>Hi, I'm Warren and I'm currently a Senior Front End Developer at <a target="_blank" data-track href="https://www.google.co.uk/maps/@53.4764168,-2.2394397,3a,75y,90.58h,72.22t/data=!3m7!1e1!3m5!1sN6TjbiamkbYAAAQzPiqL3A!2e0!3e2!7i13312!8i6656!6m1!1e1">Havas Lynx</a> in Manchester.</p>

    <p>Yeah I know it's great isn't it? It's called <a target="_blank" href="http://www.fsd.it/shop/fonts/pragmatapro/" target="_blank">Essential
        PragmataPro Regular</a>. Great coding font.</p>

    <p>I could state in 72pt Futura how I <span class="love">love creating engaging and innovative experiences on the web</span> but you'll have read something similar elsewhere. At the heart of it, I think I like communicating. The thrill comes from exploring the methods and choosing a way to best do that. Succinct, effective messaging isn't common.</p>

    <p>Current likes:</p>
    <ul>
        <li><a target="_blank" data-track href="https://www.artrage.com">ArtRage</a> The closest thing to meditation I've found (apart from Drive Club)</li>
        <li><a target="_blank" data-track href="https://www.codewars.com">Codewars</a> I'm new to this and slower than I should be...</li>
    </ul>

    <p>Current dislikes</p>
    <ul>
        <li><a target="_blank" data-track href="http://lmgtfy.com/?q=scrolljacking">Scrolljacking</a></li>
        <li>Designers only designing to be best-case scenarios. Some people have looooooooooooong names.</li>
    </ul>

    <p>If you'd like to, get in touch through <a target="_blank" data-track href="https://www.linkedin.com/in/warrenkeith">LinkedIn</a>.</p>

</div>