<section class="page page__postDetails">
    <h1><span ng-bind-html="postDetail.title.rendered"></span> // {{postDetail.date | date}}</h1>
    <div class="wysiwyg" ng-bind-html="postDetail.content.rendered"></div>
</section>