<section class="page page__skillset">
    <ul>
        <li>HTML / CSS / JAVASCRIPT for ones that have things you can see</li>
        <li>NODE / GRUNT / GULP for popup servers and ones where live reloading and minifying all the things is handy</li>
        <li>BOOTSTRAP / FOUNDATION for ones that need doing like yesterday</li>
        <li>ANGULAR / HANDLEBARS.js / a little EMBER for ones that don’t refresh the page</li>
        <li>EXPRESSION ENGINE / WORDPRESS for ones that clients can pretend to maintain themselves</li>
        <li>WORDPRESS JSON API for pretending I've created a web service</li>
        <li>GIT & SVN for seeing who committed the .sass-cache folder</li>
        <li>ADOBE INDESIGN / PHOTOSHOP / ILLUSTRATOR for what you'd expect</li>
        <li>HYPE (and a bit of EDGE ANIMATE) for being an animator for 20 mins before realising temporal work is stressful</li>
        <li>LAMP for getting stuff up there into the <a target="_blank" href="https://www.stickermule.com/marketplace/3442-there-is-no-cloud" data-track>"cloud"</a></li>
        <li><s>ADOBE FLASH for proper old-skool nasty banners</s></li>
        <li>OFFICE for letters of complaint to broadband providers and telecoms</li>
    </ul>
</section>