<section class="page page__thoughts">
    <ul>
        <li ng-repeat="p in posts.data">
            <a href="/#/thoughts/{{p.id}}" data-track="thoughts({{p.id}})"><span ng-bind-html="p.title.rendered"></span> // {{p.date | date}}</a>
        </li>
    </ul>
</section>