.c64-balloon {
  animation: balloonJourney 3s linear infinite;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 210px;
  box-shadow: none;
}

.c64-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  box-shadow: none;
  max-width: 100vw;
}

@keyframes balloonJourney {
  from {
    top: -210px;
    left: -150px;
  }
  to {
    top: 100%;
    left: 100%;
  }
}